<div class="labels">
	<label>Terminal SN : <input type="text" ng-model="user.profile.tracking" readonly=""/></label>
	<label>Start Date : <input type="text" datetimepicker dtp-model="timestamp_start"/></label>
	<label>End Date : <input type="text" datetimepicker dtp-model="timestamp_end"/></label>
	<label>Records : <input type="text" ng-model="records.length" readonly=""/></label>
	<button class="btn btn-primary" title="Config" bs-popover="'config.html'" data-placement="bottom" ng-controller="configController">Config</button>
</div>
<div class="smart-table-two">
<div class="table">
	<smart-table config="table_config" rows="records" columns="columns"></smart-table>
</div>
</div>