<div class="inline-labels">
<label>
	Terminal SN:
	<input type="text" ng-model="terminal_sn"></input>
	<button ng-click="add_terminal()" ng-disabled="!terminal_sn" class="orange">add</button>
</label>

</div>
<div class="main-one">
<div>Registered Terminals</div>
<div class="register">
<ul ng-repeat='terminal in user.profile.terminals'>
	<li><a ng-click='delete_terminal(terminal)'>[X] </a> {{terminal}}</li>
</ul>
</div>
</div>
	<form ng-show='false'>
		<label>url<input type='text' ng-model='url'/></label>
		<label>method<select ng-model="method" ng-options="methods for methods in methods"></select></label>
		<label>body<textarea ng-model='body'></textarea></label>
		<input type='button' ng-click='submit()' value='submit'/>
		<input type="button" ng-click='export_csv()' value="export csv">
	</form>
