<div class="labels">
<ul ng-repeat='terminal in user.profile.terminals'>
	<li><input type="radio" ng-model="user.profile.tracking" value="{{terminal}}" ng-change="change_tracking()">{{terminal}}</input></li>
</ul>
<label>Tracking terminal:<input type="text" ng-model="user.profile.tracking" readonly=""></input></label>
<label>Start Date:<input type="text" datetimepicker dtp-model="timestamp_start"></input></label>
<label>End Date:<input type="text" datetimepicker dtp-model="timestamp_end"></input></label>
</div>
<div class="leaflet"><leaflet paths='paths' center='center' markers='markers' maxZoom='maxZoom' minZoom='minZoom'></leaflet></div>
<div class="main">
	<input type="button" ng-click="show_main=!show_main" value="Debug Info"></div>
	<div class="table" ng-show="show_main">
		<smart-table config="table_config" rows="records" columns="columns"></smart-table>
	</div>
</div>