<div class="labels">
<ul ng-repeat='terminal in user.profile.terminals'>
	<li><input type="radio" ng-model="user.profile.tracking" value="{{terminal}}" ng-change="change_tracking()">{{terminal}}</input></li>
</ul>
<label>Tracking terminal:<input type="text" ng-model="user.profile.tracking" readonly=""></input></label>
<label>Start Date:<input type="text" datetimepicker dtp-model="timestamp_start"></input></label>
<label>End Date:<input type="text" datetimepicker dtp-model="timestamp_end"></input></label>
</div>
<div class="leaflet"><leaflet paths='paths' center='center' markers='markers' maxZoom='maxZoom' minZoom='minZoom'></leaflet></div>
<div class="main">
	<div class="main_left"><input type="button" ng-click="thirdli=!thirdli" value="Debug Info"></div>
	<div class="main_right">
		<div>
		<ul class="lists">
			<li>
				<div class="lists_div">Timestamp</div>
				<div>Longitude</div>
				<div>Latitude</div>
				<div>Alttitude</div>
				<div class="lists_div">pDOP,hDOP,vDOP</div>
				<div>Range RMS</div>
				<div class="lists_div">Satellites(ID:SNR)</div>
				<div>Misc</div>
			</li>
			<li ng-show="$scope.datas.length==0">
				<div class="lists_div">Wait...</div>
				<div></div>
				<div></div>
				<div></div>
				<div class="lists_div"></div>
				<div></div>
				<div class="lists_div"></div>
				<div></div>
			</li>
		</ul>
		</div>
		<div class="bottom">
			<div class="main_bottom" ng-repeat="data in datas" ng-show="thirdli">
					<div class="lists_div">{{data.timestamp}}</div>
					<div>{{data.lon}}</div>
					<div>{{data.lat}}</div>
					<div>{{data.alt}}</div>
					<div class="lists_div">{{data.std_lon}}{{data.std_lat}}{{data.std_alt}}</div>
					<div>{{data.range_rms}}</div>
					<div class="lists_div">{{data.satellites}}</div>
					<div>{{data.msic}}</div>
			</div>
		</div>
	</div>
</div>