{% extends "map_base.html" %}
    {% block mapjsscript %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
    <script type="text/javascript" src="http://dev.baidu.com/wiki/static/map/API/examples/script/changeMore.js"></script>
    {% end %}
    <script type="text/javascript">
    {% block jsscript %}
      var map;
      var polyline;
      var _fixes = [];
      var _ts = [];
      var callback = null;
      var set_center = false;

      function initMap() {
          map = new BMap.Map("map_canvas");
          var localCity = new BMap.LocalCity();
          localCity.get(function(r) {
                          if (!set_center) {
                            set_center = true;
                            map.centerAndZoom(r.center, r.level);
                          }
                        });
          if (!set_center) {
              map.centerAndZoom("Beijing");
          }
          map.enableScrollWheelZoom();
          map.addControl(new BMap.ScaleControl());
          var overvierOption = new BMap.OverviewMapControl();
          overvierOption.isOpen = true;
          map.addControl(new BMap.OverviewMapControl(overvierOption));
          var opts = {anchor: BMAP_ANCHOR_TOP_LEFT,
                      offset: new BMap.Size(10, 10)};
          map.addControl(new BMap.NavigationControl(opts));
      }

      function show_point(lat, lon, dop, markertime) {
        map.clearOverlays();
        var point = new BMap.Point(lon, lat);
        callback = sp_callback;
        BMap.Convertor.transMore([point], 0, callback);

        function sp_callback(res) {
          var point = new BMap.Point(res[0].x, res[0].y);
          var marker = new BMap.Marker(point, {title: "Current Fix"});
          fn_clickMarker(marker, markertime);
          var circle = new BMap.Circle(point, dop,
                                       {fillColor: '#AA0000',
                                        fillOpacity: 0.5,
                                        strokeWeight: 1});
          map.addOverlay(marker);
          map.addOverlay(circle);
          map.setCenter(point);
        }
      }

      function fn_drawLine() {
        polyline = new BMap.Polyline(_fixes,
                                     {strokeColor: "red",
                                      strokeWeight: 3,
                                      strokeOpacity: 0.5});
        map.addOverlay(polyline);
      }

      var gc = new BMap.Geocoder();
      function fn_clickMarker(marker, tempDate) {
        marker.addEventListener("click", function(e){
          gc.getLocation(e.point, function(rs){
              var s = marker.getTitle()
                  +"<ul><li>Address: "+rs.address+"</li>"
                  +"<li>Lon: "+rs.point.lng+"</li>"
                  +"<li>Lat: "+rs.point.lat+"</li>"
                  +"<li>Time: "+tempDate+"</li></ul>";
            marker.openInfoWindow(new BMap.InfoWindow(s));
          });
        });
      }

      function fn_locusConfirm() {
        var tempDate = $("#locusDate").val().replace(/-/g, "");
        var str_begin = $("#locusBeginSlider").val().replace(/:/g, "") + "00";
        var str_end = $("#locusEndSlider").val().replace(/:/g, "") + "00";
        var str_locusDate = "/track/".concat(tempDate, str_begin) + "/".concat(tempDate, str_end);

        $.get(str_locusDate, "", function(data) {
          var fixes = data.fixes;
          _fixes = [];
          _ts = [];
          map.clearOverlays();

          $("#fixnum").text(fixes.length);
          if (fixes.length > 0) {
            for (var i in fixes) {
              _fixes[i] = new BMap.Point(fixes[i][2], fixes[i][1]);
              _ts[i] = fixes[i][8];
            }

            callback = line_callback;
            BMap.Convertor.transMore(_fixes, 0, callback);
          }
        }, "json");
     }

     function line_callback(res) {
       _fixes = [];
       for(var i in res) {
         if (res[i].error != 0) {
           continue;
         }

         var point = new BMap.Point(res[i].x, res[i].y);
         _fixes.push(point);
         var marker = new BMap.Marker(point, {title: "Point " + i});
         map.addOverlay(marker);
         fn_clickMarker(marker, _ts[i]);
       }
       if (_fixes.length > 0) {
           set_center = true;
           map.centerAndZoom(_fixes[0], Math.max(13, map.getZoom()));
           fn_drawLine();
       }
    }
{% end %}
