<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>DBJ GPS Testbed</title>
    <script type="text/javascript"
	    src="http://maps.google.com/maps/api/js?sensor=false&callback;=initialize"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link type="text/css" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
      var map;
      var polyline;
      var _fixes = new Array();
      var arr_marker = [];

      {% for fix in fixes %}
	_fixes.push(new google.maps.LatLng({{fix[2]}}, {{fix[1]}}));
      {% end %}

      //initMap()函数，将地图程序加入页面
      function initMap() {
	//在ID为"Gmap"的层内显示地图
	var myOptions = {
	  zoom: 13,
	  center: (_fixes.length > 0) ? _fixes[0] : new google.maps.LatLng(40.000091, 116.35906999),
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	map = new google.maps.Map(document.getElementById("map_canvas"),
				  myOptions);
	for (var i in _fixes) {
	    var markerPoint = new google.maps.Marker({
			       position: _fixes[i],
			       title: "",
			       map: map});
			arr_marker.push(markerPoint);
	   fn_clickMarker(markerPoint, map, new Date());
	}
	fn_drawLine();

	var $locusElement = $('#locusDate');
	$locusElement.datepicker();
	$locusElement.datepicker('setDate', new Date());
	$locusElement.datepicker( "option", "dateFormat", 'yy-mm-dd');
	fn_initSlider(); // 小时分钟
      }
    // 画线方法
    function fn_drawLine() {
		if (polyline) {
			polyline.setMap(null);
		}
	polyline = new google.maps.Polyline({
	       path: _fixes, //指定线上的点对象数据
	       strokeColor: "#FF0000",
	       strokeOpacity: 0.4,
	       strokeWeight: 2});

	polyline.setMap(map);
    }
    // marker点击事件
	var infowindow = new google.maps.InfoWindow(); // 吹出框对象
    function fn_clickMarker(mPoint, map, tempDate) {
	//marker点击事件
	google.maps.event.addListener(mPoint, 'click', function() {
	    var geocoder = new google.maps.Geocoder(); // 地址解析对象
	    // 逆地址解析
	    geocoder.geocode({'latLng': mPoint.getPosition()}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) { // 判断状态
		    if (results[0]) { //取地址信息
			var str = '<ul><li>Address: '+results[0].formatted_address+'</li>'
				+'<li>Lng: '+mPoint.getPosition().lng()+'</li>'
				+'<li>Lat: '+mPoint.getPosition().lat()+'</li>'
								+'<li>Time: '+tempDate+'</li></ul>';
			// 填充吹出框内容并显示
			infowindow.setContent(str);
			infowindow.open(map, mPoint);
		    }
		} else {
		    alert("Geocode error: " + status);
		}
	    });
	});
    }

    // locusConfirm
    function fn_locusConfirm() {
	var tempDate = $('#locusDate').val();
	var str_begin = $('#locusBeginSlider').val();
	var str_end = $('#locusEndSlider').val();
	var str_locusDate = '/' +fn_changeDateStringToNum(tempDate+' '+str_begin+':00')
	    + '/' + fn_changeDateStringToNum(tempDate+' '+str_end+':00');

		$.get('/track'+str_locusDate, '', function(data) {
	    // 处理返回结果
			var tempData = data.fixes;
			_fixes = [];
			if (arr_marker) {
				for (i in arr_marker) {
					arr_marker[i].setMap(null);
				}
				arr_marker.length = 0;
			}
			for (var i = 0; i < tempData.length; i++) {
				_fixes.push(new google.maps.LatLng(tempData[i][2], tempData[i][1]));
				var markerPoint = new google.maps.Marker({
			       position: _fixes[i],
			       title: "",
			       map: map});
				arr_marker.push(markerPoint);
				fn_clickMarker(markerPoint, map, fn_changeNumToDateString(tempData[i][3]*1000));
			}
			map.setCenter(_fixes[0]);
			fn_drawLine();
	}, 'json');
    }
    /**
    * 转化日期字符串为整数
    * dateString格式有两种2011-11-11 20:20:20, 20:20
    * 如果直传第二中小时和分钟，则在使用今天日期构造数据
    */
    function fn_changeDateStringToNum(dateString) {
	var year = '',
	    month = '',
	    day = '',
	    hour = '',
	    min = '',
	    seconds = '00',
	    timeArr = '';

	if (dateString.search('-') != -1) {
	    var tmpArr = dateString.split(' '),
		dateArr = tmpArr[0].split('-');

	    year = dateArr[0],
	    month = dateArr[1]-1,
	    day = dateArr[2],
	    timeArr = tmpArr[1].split(':'),
	    hour = timeArr[0],
	    min = timeArr[1],
	    seconds = timeArr[2];
	} else {
	    var date = new Date();
	    year = date.getFullYear(),
	    month = date.getMonth(),
	    day = date.getDate();

	    month = month < 10 ? '0'+month : month;
	    day = day < 10 ? '0'+day : day;

	    timeArr = dateString.split(':'),
	    hour = timeArr[0],
	    min = timeArr[1];
	}
	return new Date(year,month,day,hour,min,seconds).getTime()/1000; // Your timezone!
    }
	// 将日期整数转化为字符串
	function fn_changeNumToDateString(myEpoch, str_isYear) {
		var myDate = new Date(myEpoch),
			year = myDate.getFullYear(),
			month = myDate.getMonth()+1,
			day = myDate.getDate(),
			hours = myDate.getHours(),
			min = myDate.getMinutes(),
			seconds = myDate.getSeconds();
		month = month < 10 ? '0'+month : month;
		day = day < 10 ? '0'+day : day;
		hours = hours < 10 ? '0'+hours : hours;
		min = min < 10 ? '0'+min : min;
		seconds = seconds < 10 ? '0'+seconds : seconds;
		if ( str_isYear ) {
			return new Date(year, month - 1, day);
		} else {
			return year +'-'+ month +'-'+ day +' '+ hours +':'+ min +':'+ seconds;
		}
	}
	// 初始化slide
    function fn_initSlider() {
	$('#locusSlider').slider({
	    min: 0,
	    max: 1439,
	    values: [420, 1140],
	    range: true,
	    slide: function (event, ui) {
		var str_slideVal1 = fn_slideValToTimeVal(ui.values[0]),
		    str_slideVal2 = fn_slideValToTimeVal(ui.values[1]);
		// 填充
		$('#locusBeginSlider').val(str_slideVal1);
		$('#locusEndSlider').val(str_slideVal2);
	    }
	});

	// 页面没有滑动进进行初始化数据
	$('#locusBeginSlider').val('07:00');
	$('#locusEndSlider').val('19:00');
	$('#locusSlider').slider('option', 'values', [420, 1140]);
    }
    // 通过slide滑块的值判断显示的时间点
    function fn_slideValToTimeVal(n_slideVal) {
	var n_hour = Math.floor(n_slideVal/60),
	    n_minute = n_slideVal%60;
	n_hour = n_hour < 10 ? '0'+ n_hour : n_hour;
	n_minute = n_minute < 10 ? '0'+ n_minute : n_minute;
	return n_hour+":"+n_minute;
    }
    </script>
  </head>
  <body onload="initMap()">
    <h4>Current Mobile: {{mobile}} <a href="/logout" style="float: right;">Logout</a></h4>
    <hr>
    <div style="float: left">
	Date: <input type="text" id='locusDate'/>
	Start: <input id="locusBeginSlider" type="text" id='locusDate'/>
	End: <input id="locusEndSlider" type="text" id='locusDate'/>
    </div>
    <div id="locusSlider" style="width: 300px; float: left;" title="Slide to adjust the time slot."></div>
    &nbsp;&nbsp;<input type="button" value="Query" id='locusConfirm' onclick="fn_locusConfirm();"/>
    <hr>
    <div id="map_canvas" style="width: 100%; height: 100%"></div>
  </body>
</html>
