<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>DBJ GPS Testbed</title>
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false&callback;=initialize"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link type="text/css" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript">
      var map;
      var polyline;
      var _fixes = new Array();
      var _ts = new Array();
      var _markers = [];

      {% for fix in fixes %}
        _fixes.push(new google.maps.LatLng({{fix[1]}}, {{fix[2]}}));
        _ts.push("{{fix[3]}}");
      {% end %}

      //initMap()函数，将地图程序加入页面
      function initMap() {
        //在ID为"Gmap"的层内显示地图
        var myOptions = {
          zoom: 13,
          center: (_fixes.length > 0) ? _fixes[0] : (new google.maps.LatLng(40.000091, 116.35906999)),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        for (var i in _fixes) {
          var markerPoint = new google.maps.Marker({
                     position: _fixes[i],
                     map: map});
          markerPoint.set("id", i);
          _markers.push(markerPoint);
          fn_clickMarker(markerPoint, map, _ts[i]);
        }
        fn_drawLine();

        var $locusElement = $("#locusDate");
        $locusElement.datepicker();
        $locusElement.datepicker("setDate", new Date());
        $locusElement.datepicker("option", "dateFormat", "yy-mm-dd");
        fn_initSlider();
      }

      function fn_drawLine() {
        if (polyline) {
          polyline.setMap(null);
        }
        polyline = new google.maps.Polyline({
           path: _fixes,
           strokeColor: "#FF0000",
           strokeOpacity: 0.6,
           strokeWeight: 2});

        polyline.setMap(map);
      }

      var infowindow = new google.maps.InfoWindow();
      function fn_clickMarker(mPoint, map, tempDate) {
        google.maps.event.addListener(mPoint, "click", function() {
          var geocoder = new google.maps.Geocoder();
          //TODO: cache in title
          geocoder.geocode({"latLng": mPoint.getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                var str = "Point "+mPoint.get("id")
                  +"<ul><li>Address: "+results[0].formatted_address+"</li>"
                  +"<li>Lng: "+mPoint.getPosition().lng()+"</li>"
                  +"<li>Lat: "+mPoint.getPosition().lat()+"</li>"
                  +"<li>Time: "+tempDate+"</li></ul>";
                // 填充吹出框内容并显示
                infowindow.setContent(str);
                infowindow.open(map, mPoint);
              }
            } else {
              alert("Geocode error: " + status);
            }
          });
        });
      }

      function fn_locusConfirm() {
        var tempDate = $("#locusDate").val().replace(/-/g, "");
        var str_begin = $("#locusBeginSlider").val().replace(/:/g, "") + "00";
        var str_end = $("#locusEndSlider").val().replace(/:/g, "") + "00";
        var str_locusDate = "/track/".concat(tempDate, str_begin) + "/".concat(tempDate, str_end);

        $.get(str_locusDate, "", function(data) {
          var fixes = data.fixes;
          _fixes = [];
          if (_markers) {
            for (i in _markers) {
              _markers[i].setMap(null);
            }
            _markers.length = 0;
          }

          if (fixes.length > 0) {
            for (var i in fixes) {
              _fixes[i] = new google.maps.LatLng(fixes[i][1], fixes[i][2]);
              var markerPoint = new google.maps.Marker({
                       position: _fixes[i],
                       map: map});
              markerPoint.set("id", i);
              _markers.push(markerPoint);
              fn_clickMarker(markerPoint, map, fixes[i][3]);
            }
            map.setCenter(_fixes[0]);
            map.setZoom(12);
          }
          fn_drawLine();
        }, "json");
     }

     // 初始化slide
     function fn_initSlider() {
       $("#locusSlider").slider({
            min: 0,
            max: 1439,
            values: [420, 1140],
            range: true,
            slide: function (event, ui) {
                var str_slideVal1 = fn_slideValToTimeVal(ui.values[0]);
                var str_slideVal2 = fn_slideValToTimeVal(ui.values[1]);
                $("#locusBeginSlider").val(str_slideVal1);
                $("#locusEndSlider").val(str_slideVal2);
            }
        });

        // 页面没有滑动进进行初始化数据
        $("#locusBeginSlider").val("07:00");
        $("#locusEndSlider").val("19:00");
        $("#locusSlider").slider("option", "values", [420, 1140]);
    }

    // 通过slide滑块的值判断显示的时间点
    function fn_slideValToTimeVal(n_slideVal) {
      var n_hour = Math.floor(n_slideVal / 60);
      var n_minute = n_slideVal % 60;
      n_hour = n_hour < 10 ? "0"+ n_hour : n_hour;
      n_minute = n_minute < 10 ? "0"+ n_minute : n_minute;
      return n_hour + ":" + n_minute;
    }
    </script>
  </head>

  <body onload="initMap()">
    <h4>Current Mobile: {{mobile}} <a href="/logout" style="float: right;">Logout</a></h4>
    <hr>
    <div style="float: left">
    Date: <input type="text" id="locusDate" />
    Start: <input id="locusBeginSlider" type="text" />
    End: <input id="locusEndSlider" type="text" />
    </div>
    <div id="locusSlider" style="width: 300px; float: left;" title="Slide to adjust the time slot."></div>
    &nbsp;&nbsp;<input type="button" value="Query" id="locusConfirm" onclick="fn_locusConfirm();"/>
    <hr>
    <div id="map_canvas" style="width: 100%; height: 100%"></div>
  </body>
</html>
