<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>DBJ GPS Testbed</title>
    {% block mapjsscript %}{% end %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/scrolltable.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/mytabletheme.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <link type="text/css" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.fixedheadertable.js"></script>
    <script type="text/javascript">
    {% block jsscript %}
      var map;
      var polyline;
      var _fixes = [];
      var _ts = [];
      var _markers = [];

      {% for fix in fixes %}
        _fixes.push(new google.maps.LatLng({{fix[1]}}, {{fix[2]}}));
        _ts.push("{{fix[3]}}");
      {% end %}

      //initMap()函数，将地图程序加入页面
      function initMap() {
        $("#fixnum").text(_fixes.length);

        //在ID为"Gmap"的层内显示地图
        var myOptions = {
          zoom: 13,
          center: (_fixes.length > 0) ? _fixes[0] : (new google.maps.LatLng(40.000091, 116.35906999)),
          scaleControl: true,
          overviewMapControl: true,
          overviewMapControlOptions: {opened: true},
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        for (var i in _fixes) {
          var markerPoint = new google.maps.Marker({
                     position: _fixes[i],
                     title: "Point " + i,
                     map: map});
          markerPoint.set("id", i);
          _markers.push(markerPoint);
          fn_clickMarker(markerPoint, map, _ts[i]);
        }
        fn_drawLine();

        var $locusElement = $("#locusDate");
        $locusElement.datepicker();
        $locusElement.datepicker("setDate", new Date());
        $locusElement.datepicker("option", "dateFormat", "yy-mm-dd");
        fn_initSlider();
      }

      function fn_drawLine() {
        if (polyline) {
          polyline.setMap(null);
        }
        polyline = new google.maps.Polyline({
           path: _fixes,
           strokeColor: "#FF0000",
           strokeOpacity: 0.6,
           strokeWeight: 2});

        polyline.setMap(map);
      }

      var infowindow = new google.maps.InfoWindow();
      function fn_clickMarker(mPoint, map, tempDate) {
        google.maps.event.addListener(mPoint, "click", function() {
          var geocoder = new google.maps.Geocoder();
          //TODO: cache in title
          geocoder.geocode({"latLng": mPoint.getPosition()}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                var str = "Point "+mPoint.getTitle()
                  +"<ul><li>Address: "+results[0].formatted_address+"</li>"
                  +"<li>Lng: "+mPoint.getPosition().lng()+"</li>"
                  +"<li>Lat: "+mPoint.getPosition().lat()+"</li>"
                  +"<li>Time: "+tempDate+"</li></ul>";
                // 填充吹出框内容并显示
                infowindow.setContent(str);
                infowindow.open(map, mPoint);
              }
            } else {
              alert("Geocode error: " + status);
            }
          });
        });
      }

      function fn_locusConfirm() {
        var tempDate = $("#locusDate").val().replace(/-/g, "");
        var str_begin = $("#locusBeginSlider").val().replace(/:/g, "") + "00";
        var str_end = $("#locusEndSlider").val().replace(/:/g, "") + "00";
        var str_locusDate = "/track/".concat(tempDate, str_begin) + "/".concat(tempDate, str_end);

        $.get(str_locusDate, "", function(data) {
          var fixes = data.fixes;
          _fixes = [];
          $("#fixnum").text(fixes.length);
          if (_markers) {
            for (i in _markers) {
              _markers[i].setMap(null);
            }
            _markers.length = 0;
          }

          if (fixes.length > 0) {
            for (var i in fixes) {
              _fixes[i] = new google.maps.LatLng(fixes[i][1], fixes[i][2]);
              var markerPoint = new google.maps.Marker({
                       position: _fixes[i],
                       title: "Point " + i,
                       map: map});
               _markers.push(markerPoint);
              fn_clickMarker(markerPoint, map, fixes[i][3]);
            }
            map.setCenter(_fixes[0]);
            map.setZoom(12);
          }
          fn_drawLine();
        }, "json");
     }
{% end %}
     // 初始化slide
     function fn_initSlider() {
       $("#locusSlider").slider({
            min: 0,
            max: 1439,
            values: [420, 1140],
            range: true,
            slide: function (event, ui) {
                var str_slideVal1 = fn_slideValToTimeVal(ui.values[0]);
                var str_slideVal2 = fn_slideValToTimeVal(ui.values[1]);
                $("#locusBeginSlider").val(str_slideVal1);
                $("#locusEndSlider").val(str_slideVal2);
            }
        });

        // 页面没有滑动进进行初始化数据
        $("#locusBeginSlider").val("07:00");
        $("#locusEndSlider").val("19:00");
        $("#locusSlider").slider("option", "values", [420, 1140]);
    }

    // 通过slide滑块的值判断显示的时间点
    function fn_slideValToTimeVal(n_slideVal) {
      var n_hour = Math.floor(n_slideVal / 60);
      var n_minute = n_slideVal % 60;
      n_hour = n_hour < 10 ? "0"+ n_hour : n_hour;
      n_minute = n_minute < 10 ? "0"+ n_minute : n_minute;
      return n_hour + ":" + n_minute;
    }

    function getParameterByName(name) {
      name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var regexS = "[\\?&]" + name + "=([^&#]*)";
      var regex = new RegExp(regexS);
      var results = regex.exec(window.location.search);
      if (results == null)
        return "";
      else
        return decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function switch_map() {
      if (!window.location.origin) {
	    window.location.origin = window.location.protocol + "//" + window.location.host;
      }
      if (getParameterByName("t") == "b") {
        window.location.href = window.location.origin;
      } else {
        window.location.href = window.location.origin + "/?t=b";
      }
    }

    // collecting debug info?
    var is_collecting = false;
    var seq = 0;
    var handler = null;

    function periodical_query() {
      $.ajax({
        url: "/gpsdebug",
        type: "GET",
        data: {seq: seq, freq: $("#freq").val()},
        dataType: "json",
        success: function(data) {
          $.each(data.res, function(index, entry) {
            $s = $("<tr/>")
            var segs =[entry.timestamp,
                       entry.lon,
                       entry.lat,
                       parseFloat(entry.dop) * 15,
                       entry.satellites];
            for (i in segs) {
               $s.append($("<td/>").html(segs[i]));
            }
            var ow = $("#result").width();
            $s.appendTo("#result tbody");
            if ($("#result").width() > ow) {
              adjust_sizes(true);
            }
            if ($("#scrollinfo").is(":checked")) {
              // FIX: this is really strange. the top value is wrong
              //      when there are many rows.
              var last_row = $("#result tbody tr").last();
              $(".fht-tbody").animate({scrollTop: last_row.position().top + 100000});
            }
          });
        },
        complete: function(a, b) {
          if (is_collecting) { 
            // query more frequently than the terminal reports
            setTimeout(periodical_query, parseInt($("#freq").val()) * 500);
          }
        }
      });
    }

    function switch_collect() {
      is_collecting = !is_collecting

      if (is_collecting) {
        $("#startstop span").text("Stop!")
        seq = seq + 1;
        periodical_query();
      } else {
        $("#startstop span").text("Start!")
      }
    }

    function clean_log() {
        if (confirm("Clean all the logs?")) {
          $("#result tbody tr").not(":first").hide("slow", function(){$(this).remove();});
        }
    }

    function adjust_sizes(flag) {
      var wh = $(window).height()
      var hh = $("#header").height();
      var mh = $("#map_canvas").height();
      var dh = $("#debug_info").height();
      var magic_delta = 34;

      $("#map_canvas").height(wh - hh - dh - magic_delta);
      if (flag) {
        $("#result").fixedHeaderTable("destroy");
        $("#result").fixedHeaderTable({height: 270});
     }
    }

    $(window).resize(adjust_sizes);

    var light = null;
    $("#result tbody tr").live("click", function(){
        if ($("#result tbody tr").index(this) == 0) {
	  return;
        }
        if (light) {
           light.children().removeClass("selected");
        }
        light = $(this);
        console.log("this: " + $(this));
        $(this).children().addClass("selected");

	timestamp = $(this).find("td:nth-child(1)").text();
        lon = parseFloat($(this).find("td:nth-child(2)").text());
        lat = parseFloat($(this).find("td:nth-child(3)").text());
        dop = parseFloat($(this).find("td:nth-child(4)").text());

	if (!((0 < Math.abs(lon) && Math.abs(lon) < 180) &&
              (0 < Math.abs(lat) && Math.abs(lat) <  90))) {
          alert("Bad or Non-fixed point. Will not update the map." +
              "\nLon: " + lon + "\nLat: " + lat);
        } else {
          show_point(lat, lon, dop, timestamp);
        }
    });

    $(function() {
      if (getParameterByName("t") == "b") {
        $("#mapswitcher").text("Switch to Google Map");
	  } else {
	    $("#mapswitcher").text("Switch to Baidu Map");
	  }

      $("button").button();

      $("#result").fixedHeaderTable({height: 270});

      var is_debugging = true;
      $("#debug_pane legend").click(function (event) {
        if (is_debugging) {
          $("#helper").hide();
          $(this).parent().parent().height(20);
          adjust_sizes(false);
          $(this).html("Debug Info &#x25B2;");
        } else {
          $(this).parent().parent().height(300);
          adjust_sizes(false);
          $("#helper").show("slow");
          $(this).html("Debug Info &#x25BC;");
        }
        is_debugging = !is_debugging;
      });

      adjust_sizes(true);
    });
    </script>
  </head>

  <body onload="initMap()">
    <div id="header">
      <h2>Current Mobile: {{mobile}} <a href="/logout" style="float: right;">Logout</a></h2>
      <hr>
      <div style="float: left; font-size: 1.2em;">
	<label for="locusDate">Date: </label><input type="text" id="locusDate" />
	<label for="locusBeginSlider">From: </label><input id="locusBeginSlider" type="text" />
	<label for="locusEndSlider">To: </label><input id="locusEndSlider" type="text" />
      </div>
      <div id="locusSlider" title="Slide to adjust the time slot."></div>
      <button id="locusConfirm" onclick="fn_locusConfirm();">Query</button>
      <button id="mapswitcher" onclick="switch_map();" title="Do use Baidu Map if ther mobile is in China."></button>
      <div id="info">Points number: <span id="fixnum"> </span></div>
    <hr>
    </div>
    <div id="map_canvas"></div>
    <div id="debug_info">
      <fieldset id="debug_pane">
	<legend title="Click to show or hide the debug window.">Debug Info &#x25BC;</legend>
	<div id="helper">
	  <div style="float: left; width: 20%">
	    <table>
	      <tr>
		<td><label for="freq">Upload Frequency(s) </label></td>
		<td>
		  <select id="freq" title="Terminal reports GPS info in this frequency.">
		    <option>5</option>
		    <option>10</option>
		    <option>20</option>
		    <option>30</option>
		    <option>60</option>
		  </select>
		</td>
	      </tr>
	      <tr>
		<td><label for="scrollinfo">Scroll on new data?</label></td>
		<td><input type="checkbox" title="Scroll the bar on new
						  data." id="scrollinfo" checked></input></td>
	      </tr>
	      <tr>
		<td></td><td><button id="startstop"
				     onclick="switch_collect();"><span>Start!</span></button></td>
	      </tr>
	      <tr>
		<td></td><td><button id="cleanlog"
				     onclick="clean_log();"><span>Clean log</span></button></td>
	      </tr>

	    </table>
	  </div>
	  <div id="log">
	    <table id="result" class="fancyTable" cellpadding="0" cellspacing="0">
	      <thead>
		<tr>
		  <th>Timestamp</th>
		  <th>Longitude</th>
		  <th>Latitude</th>
		  <th title="Actually, this is the skewed
		  distance. 15m is not accurate for u-blox, and will
		  be fixed later.">DOP (&delta;=15m)</th>
		  <th>Satellites (ID:SNR)</th>
		</tr>
	      </thead>
	      <tbody>
		<tr><td>Waiting...</td><td></td><td></td><td></td><td></td></tr>
	      </tbody>
	    </table>
	  </div>
	  </div>
      </fieldset>
    </div>
  </body>
</html>
