<div class="inline-labels">
<label style="margin: 10px;">
	Terminal SN:
	<input type="text" ng-model="terminal_sn"></input>
	<button ng-click="add_terminal()" ng-disabled="!terminal_sn" class="orange">add</button>
</label>
</div>

<div style="padding: 10px;">
	<div>Registered Terminals</div>
	<div class="register">
		<ul style="margin-top: 8px;">
			<li ng-repeat='terminal in user.profile.terminals' class="terminal-card">
				<i class="icon-screenshot"></i>
				<span>{{terminal}}</span>
				<a ng-click='delete_terminal(terminal)'>
					<i class="icon-remove"></i>
				</a>
			</li>
		</ul>
	</div>
</div>

<hr />

<div style="padding: 10px">
	<label><span style="min-width: 100px; display: inline-block;">SNR Weak: </span><input type="number" ng-model="user.profile.weak"></input></label>
	<label><span style="min-width: 100px; display: inline-block;">SNR Normal: </span><input type="number" ng-model="user.profile.normal"></input></label>
	<label><span style="min-width: 100px; display: inline-block;">SNR Alert: </span><input type="number" ng-model="user.profile.alert"></input></label>
</div>